* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(180deg, #64BEFF -50%, #6e96ff 69.71%, #2a65ff 150%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-container { 
    position: relative;
    width: 244px;
    height: 210px;
    background: url(https://multiplayer-game-160be.web.app/images/map.png) no-repeat no-repeat;
    transform: scale(3);
    image-rendering: pixelated;
}

.player-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    display: flex;
    gap: 0.5em;
    align-items: flex-end;
}

label {
    display: block;
    font-weight: bold;
}


input[type="text"]{
    outline: 0;
    padding-left: 0.5em;
    border: 3px solid #222034;
    width: 150px;
    text-transform: uppercase;
}

input[type="text"]:focus{
    border-color: #f000ff;
}

button {
    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    height: 44px;
    border-radius: 4px;
    outline: 0;
}

button:active {
    position: relative;
    top: 1px;
}

/* characters */
.grid-cell {
    position: absolute;
    width: 16px;
    height: 16px;
}
.Character.you {
    z-index: 1;
}

.Character.you .Character_you-arrow {
    display: block;
}


/* .Character_hat {
    background: url(https://multiplayer-game-160be.web.app/images/hats.png);
} */

.Character_you-arrow {
    display: none;
    position: absolute;
    top: -18px;
    left: 5px;
    width: 7px;
    height: 5px;
    background: url(https://multiplayer-game-160be.web.app/images/arrow.png) no-repeat no-repeat;
}

.Character_sprite{
    overflow: hidden;
    top: -3px;
    background: url(https://multiplayer-game-160be.web.app/images/characters.png);
}

.Character[data-direction="right"] .Character_sprite{
    background-position-x: 16px;
}

.Character[data-color="red"] .Character_sprite{
    background-position-y: -16px;
}

.Character[data-color="orange"] .Character_sprite{
    background-position-y: -32px;
}

.Character[data-color="yellow"] .Character_sprite{
    background-position-y: -48px;
}

.Character[data-color="green"] .Character_sprite{
    background-position-y: -64px;
}

.Character[data-color="purple"] .Character_sprite{
    background-position-y: -80px;
}

.Character[data-color="dark"] .Character_sprite{
    background-position-y: -95px;
}

.Character[data-color="dark"] .Character_sprite{
    background-position-y: -111px;
}

.Character_shadow {
    background: url(https://multiplayer-game-160be.web.app/images/shadow.png) no-repeat no-repeat;
}

.Character_name-container {
    position: absolute;
    top: -12px;
    left: -5px;
    font-size: 5px;
    padding: 1px 2px 1px;
    border-radius: 3px;
    background: #333;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}
.Character_coins {
    margin-left: 1px;
    color: gold;
}

.Character {
    transition: transform 0.4s;
  }


/*Characters sword*/


.sword {
    position: relative;
    top: -10%;
    left: 90%;
    width: 100%;
    height: 100%;
    background-size:cover; 
    background: url(https://multiplayer-game-160be.web.app/images/Assets/1.png) no-repeat no-repeat;
    transform: scaleX(1);
}

.sword.slash{
    animation: rotate 0.18s ease-in-out both;
}

.sword[data-direction="left"].slash{
    
    animation:rotate-reverse 0.18s ease-in-out both;
}


.sword[data-direction="left"]{
    left: -90%;
    top: -10%;
    transform: scaleX(-1);
}

  @keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(0deg);
    }
  }

  @keyframes rotate-reverse {
    0% {
        transform: rotate(0deg) scaleX(-1);
        transform: scaleX(-1);
    }
    50%{
        transform: rotate(-40deg) scaleX(-1); 
    }
    100% {
        transform: rotate(0deg) scaleX(-1);
    }
  }
  


/* coins*/
.Coin_sprite {
    background: url(https://multiplayer-game-160be.web.app/images/coin.png) no-repeat no-repeat;
    animation: coinFloat 0.8s linear infinite alternate-reverse;
}
@keyframes coinFloat {
    from {transform: translateY(0);}
    to{transform: translateY(5px);}
}


@keyframes blink {
    from{opacity: 0;}
    to{opacity: 1;};
}

.Coin_shadow{
    background: url(https://multiplayer-game-160be.web.app/images/coin-shadow.png) no-repeat no-repeat;
}

.main_chat {
    z-index: 1;
    background-color: rgba(128, 128, 128, 0.699);
    opacity: 1;
    position: absolute;
    top: 100px;
    left: 5px;
    width: 25vw;
    height: 80vh;
}

.chat {
    height: 100%;
    overflow: auto;
}

.chat > p{
    opacity: 1;
}

#chat-input {
    width:  100%;
}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    width: 400px;
    height: 200px;
    max-width: 80%;
    background:url(https://multiplayer-game-160be.web.app/images/shop.png) no-repeat no-repeat;
    background-size: 400px 200px;
    padding-left: 8px;
}
.modal.active {
    transform: translate(-50%, -50%) scale(1);  
}

.modal.shake {
    animation: shake 0.5s;
}

@keyframes shake {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0eg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
  }

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: centers;
    border-bottom: 1px solid black;
}

.modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}

/* 
progress bar */

#myProgress {
    width: 100%;
    background-color: grey;
    border-radius: 5%;
    height: 1px;
    margin-bottom: 1px;
  }
  
  #myBar {
    width: 1%;
    height: 1px;
    background-color: green;
    border-radius: 5%;
  }


.map-btn{
    display: flex;
    width:22%;
    height: auto;
    aspect-ratio : 1 / 1;
    margin-right: 20px;
}

.map-btn img{
    width: 100%;
}

.map-select{
    padding-top: 3%;
    display: flex;
    flex-direction: row;
}



.tooltip{
    position: absolute;
    font-size: small;
    color: black;
}

.swipe {
    width: 100vw;
    background: black;
    position: absolute;
    bottom: 0;
    z-index: 100;
  
}

.wrong {
    color: darkred;
    align-self: center;
    animation: shake 0.8s;
}

@keyframes shake{
    0%{
      transform: translateX(0)
    }
    25%{
      transform: translateX(25px);
    }
      
    50%{
      transform: translateX(-25px);
    }
    100%{
      transform: translateX(0px);
    }
}

/*Enemies*/
.enemy_sprite {
    scale: 1.15;
    background : url(https://multiplayer-game-160be.web.app/images/enemies/bKnight.png) no-repeat no-repeat;
    overflow: hidden;
    top: -3px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    
}

.enemy[data-direction="right"] .enemy_sprite{
    transform: scaleX(-1);
}

.enemy {
    transition: transform 0.4s;
}


.alert {
    color: red;
}